body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0099e5;
}

@font-face{
    font-family:alarm;
    src:url(alarm.ttf);
}

.btn {
    border-radius: 40%;
    width: 65px;
    background-color: #fff;
    color: #ff0000;
    font-family: alarm;

}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    padding: 10px;
    border-radius: 30px;
    background: tomato;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 5px solid black;
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

h1 {
    font-family: alarm;
    color: #ff0000;
}

#value {
    font-family: alarm;
    font-size: 52pt;
    font-weight: bold;
    color: #ff0000;
}

.button-container {
    margin-top: 20px;
}

.panel {
    display: flex;
    /* flex-direction: column; */
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    background-color: #fff;
    height: 100px;
    width: 400px;
    overflow: scroll;
    border: 2px solid black;
    border-radius: 20px;

}

.panel > span {
    padding: 2px;
}